* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
}

div,
section,
span,
ul,
li,
a,
header {
  box-sizing: border-box;
}

/*css reset*/

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  position: fixed;
  z-index: 999;
}

#menu li {
  list-style: none;
  display: inline-flex;
  margin: 0 80px;
}

#menu li a {
  color: black;
  font-weight:bold;
  text-decoration:solid;
  font-size: 20px;
}

section {
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}

/* HOME PAGE */
#home {
  background-color: rgb(156, 155, 155);
  z-index: 10;
  position: relative;
}


.logo {
  height: 100px;
  width: 100px;
}


#container {
  box-sizing: border-box;
  position: relative;
  height: 80%;
  width: 90%;
  left: 45%;
  top: 15%;
  /* border: 1px black solid; */
}

#inner {
  position: relative;
  height: 100%;
  width: 100%;
  background: #f7df1d;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100%;
}

#websvg {
  position: relative;
  box-sizing:border-box;
  height: 80%;
  margin: 10%;
  
}

#about {
  background-color: #ed6663;
}

#product {
  background-color: #b52b65;
}

#pricing {
  background-color: #3c2c3e;
}

#contact {
  background-color: #b52b65;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ed6663;
}
